# Project exclude paths
/.gradle/
/Simple Tic-Tac-Toe/task/build/
/Topics/Multidimensional array/Rotate a rectangle array/out/
/Topics/Multidimensional array/Rotate a rectangle array/out/production/classes/
/Topics/Multidimensional array/Theory/build/